{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1 class='productTitle'>{{ product.name }}</h1>

    <div class='productShowContainer'>
        <img src='{{ product.image }}'/>
        <div>{{ product.description }}</div>
    </div>

    <a href="{{ path('app_product_index') }}">back to list</a>

{% endblock %}

