{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1 class='productTitle'>{{ product.name }}</h1>

    <h1 class='productTitle'>{{ product.description }}</h1>

    <div class='productShowContainer'>

    <a href="{{ path('app_product_index') }}">back to list</a>

    {{ product.start ? product.start|date('Y-m-d H:i:s') : '' }}

    <div id='calendar'></div>



    
{% endblock %}

{% block javascripts %}
    <script>
        window.onload = () =>{
            let calendarElt = document.querySelector('#calendar')

            let calendar = new FullCalendar.Calendar(calendarElt, {
                initialView: 'dayGridMonth', 
                locale: 'fr',
            });
            calendar.render();
        }
    </script>
{% endblock %}
